<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header-All</title>
    <link rel="stylesheet">
    <%-include('stylesheet')%>
</head>
<body>
<section class="header">
    <div class="top-header col-md-12">
        <div class="container">
            <div class="content-left col-md-6">
                <a href="#">Welcome to Dagon Shop</a>
            </div>
            <div class="content-right col-md-6">
                <ul>
                    <li>
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown">
                                <img src="../../Pictures/l1.jpg" height="16" width="20"/> English <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#"><img src="../../Pictures/l2.jpg" height="15" width="20"/>Hungary</a></li>
                                <li><a href="#"><img src="../../Pictures/l1.jpg" height="16" width="20"/>English</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown">
                                Dollar (US) <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>Pound (GBP)</li>
                                <li>Euro (EUG)</li>
                                <li>Dollar (USD)</li>
                            </ul>
                        </div>
                    </li>
                    <li class="register">
                        <a href="#"><i class="fas fa-user-alt"></i> Register/Sign in </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mid-header col-md-12">
        <div class="container">
            <div class="logo col-md-3">
                <img src="../../Pictures/logo.png" height="43" width="131"/>
            </div>
            <div class="search-box-all col-md-5">
                <div class="search-box">
                    <div class="categories">
                        <p>Categories <span class="caret"></span></p>
                    </div>
                    <div class="search-inbox">
                        <p>Search keyword here...</p>
                    </div>
                    <div class="icon-search">
                        <a href="#"><i class="fas fa-search"></i></a>
                    </div>
                </div>
            </div>
            <div class="cart col-md-4">
                <i class="far fa-heart"></i>
                <i class="fas fa-shopping-cart"></i>
                <p>Your Cart:$00.00</p>

            </div>
        </div>
    </div>
    <div class="bottom-header col-md-12">
        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="navbar-link dropdown-toggle" href="#" id="mydropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        HOME<span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="mydropdown">
                        <a class="dropdown-item" href="#">Mục 1</a>
                        <a class="dropdown-item" href="#">Mục 2 abc</a>
                        <a class="dropdown-item" href="#">Mục 3 zyz abc</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="navbar-link dropdown-toggle" href="#" id="mydropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        SHOP <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="mydropdown2">
                        <a class="dropdown-item" href="#">Mục 1</a>
                        <a class="dropdown-item" href="#">Mục 2 abc</a>
                        <a class="dropdown-item" href="#">Mục 3 zyz abc</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="navbar-link dropdown-toggle" href="#" id="mydropdown3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        CAMERA <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="mydropdown3">
                        <a class="dropdown-item" href="#">Mục 1</a>
                        <a class="dropdown-item" href="#">Mục 2 abc</a>
                        <a class="dropdown-item" href="#">Mục 3 zyz abc</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="navbar-link dropdown-toggle" href="#" id="mydropdown4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        COMPUTER <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="mydropdown4">
                        <a class="dropdown-item" href="#">Mục 1</a>
                        <a class="dropdown-item" href="#">Mục 2 abc</a>
                        <a class="dropdown-item" href="#">Mục 3 zyz abc</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="navbar-link dropdown-toggle" href="#" id="mydropdown5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        PAGE <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="mydropdown5">
                        <a class="dropdown-item" href="#">Mục 1</a>
                        <a class="dropdown-item" href="#">Mục 2 abc</a>
                        <a class="dropdown-item" href="#">Mục 3 zyz abc</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="navbar-link dropdown-toggle" href="#" id="mydropdown6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        BLOG <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="mydropdown6">
                        <a class="dropdown-item" href="#">Mục 1</a>
                        <a class="dropdown-item" href="#">Mục 2 abc</a>
                        <a class="dropdown-item" href="#">Mục 3 zyz abc</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="navbar-link dropdown-toggle" href="#" id="mydropdown7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        OTHER <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="mydropdown7">
                        <a class="dropdown-item" href="#">Mục 1</a>
                        <a class="dropdown-item" href="#">Mục 2 abc</a>
                        <a class="dropdown-item" href="#">Mục 3 zyz abc</a>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</section>
<section class="main col-md-12">
    <div class="container theme-default">
        <div id="slider" class="nivoSlider">
            <img src="../imgs/3.png" dara-thump="../imgs/3.png" height="688" width="1900"/>
            <img src="../imgs/4-fix.png" dara-thump="../imgs/4-fix.png" height="687" width="1901"/>
            <img src="../imgs/5-fix.png" data-thump="../imgs/5-fix.png" height="688" width="1902"/>
        </div>
    </div>
    <div class="three-icon col-md-12">
        <div class="container">
            <div class="first-icon col-md-4">
                <div class="icon-content">
                    <span><i class="fas fa-truck"></i></span>
                    <div class="content-icon-text">
                        <h1>FAST SHIPPING</h1>
                        <p>Dispatch on most items</p>
                    </div>
                </div>
            </div>
            <div class="first-icon col-md-4">
                <div class="icon-content">
                    <span><i class="fas fa-undo"></i></span>
                    <div class="content-icon-text">
                        <h1>30 DAY RETURN</h1>
                        <p>For peace of mind</p>
                    </div>
                </div>
            </div>
            <div class="first-icon col-md-4">
                <div class="icon-content">
                    <span><i class="fas fa-award"></i></span>
                    <div class="content-icon-text">
                        <h1>BEST FURNITURE</h1>
                        <p>Online retailer for home</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="All-Deals col-md-12">
        <div class="container">
            <div class="title-deals">
                <p>Daily Deals</p>
            </div>
            <div class="arrow">
                <i class="fas fa-arrow-circle-left"></i>
                <i class="fas fa-arrow-circle-right"></i>
            </div>
            <div class="All-Product">
                <div class="Produce col-md-6">
                    <div class="Produce-Content">
                        <div class="Produce-Image">
                            <img src="../imgs/p1.PNG" width="200px" height="200px"/>
                        </div>
                        <div class="Product-Info">
                            <h1>Ultra HD Roku Smart</h1>
                            <p>$299.00</p>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="count">
                                <div class="day"><br>
                                    <span>00</span>
                                </div>
                                <div class="day">
                                    <span>00</span>
                                </div>
                                <div class="day">
                                    <span >00</span>
                                </div>
                                <div class="day">
                                    <span>00</span>
                                </div>
                            </div>
                            <div class="add-product-father">
                                <div class="add-product-children">
                                    <p>ADD TO CART</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Produce col-md-6">
                    <div class="Produce-Content">
                        <div class="Produce-Image">
                            <img src="../imgs/p2.PNG" width="200px" height="200px"/>
                        </div>
                        <div class="Product-Info">
                            <h1>Ultra HD Roku Smart</h1>
                            <p>$299.00</p>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="count">
                                <div class="day"><br>
                                    <span>00</span>
                                </div>
                                <div class="day">
                                    <span>00</span>
                                </div>
                                <div class="day">
                                    <span >00</span>
                                </div>
                                <div class="day">
                                    <span>00</span>
                                </div>
                            </div>
                            <div class="add-product-father">
                                <div class="add-product-children">
                                    <p>ADD TO CART</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="new-product col-md-12">
        <div class="headphone-father col-md-5">
            <div class="headphone-children">
                <img src="../imgs/headphone.PNG" height="312" width="100%"/>
            </div>
        </div>
        <div class="toy-father col-md-7">
            <div class="toy-children">
                <img src="../imgs/toy.PNG" height="314" width="841"/>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $('#slider').nivoSlider();
</script>

</section>
    <section class="section main">
        <div class="container">
            <ol class="headerpage">
                <li>
                    <a href="#">Home  </a>
                </li>
                <li>
                    <a href="#"> / Grid Categorys </a>
                </li>
            </ol>
            <article class="content">
                <div class="post">
                    <div class="banner">
                        <a href="#" class="banner-img">
                            <img src="../Pictures/banner-product.jpg">
                        </a>
                        <div class="banner-inner">
                            <h1>Top Staff Pick</h1>
                            <h2>Best Watches Collection</h2>
                            <a class="banner-link" href="#">Shop now</a>
                        </div>
                    </div>
                    <div class="toolbar-product">
                        <h3 class="title-product">Grid Category</h3>
                        <div class="menu-option">
                            <div class="menu">
                                <select>
                                    <option>Sort by porpularity</option>
                                    <option>Name</option>
                                    <option>Price</option>
                                </select>
                                <select>
                                    <option>20 per page</option>
                                    <option>15 per page</option>
                                    <option>30 per page</option>
                                </select>
                                <i class="fas fa-bars">
                                    <span>List</span>
                                </i>
                            </div>
                        </div>
                    </div>
                    <div class="products-list">
                        <div class="products-items">
                            <div class="product-img">
                                <img src="../Pictures/p10.jpg" onclick="openPopup()">
                                <span class="onsale">-30%</span>
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                    <a href="#">Smartphone 4 GB </a>
                                    <span class="star-ratting">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <span class="review">5 Review(s)</span>
                                </span>
                                    <div class="product-infomation">
                                        14’’ Class 15.6’’ Screen full offer supperior picture LED
                                        <br/>
                                        Display type: Full 1080 Color
                                        <br/>
                                        Chip set: Core i7
                                        <br/>
                                        Color: White
                                    </div>
                                </div>
                            </div>
                            <div class="product-info-price">
                                <div class="stock-available">
                                    <span class="label-stock">Avability:</span>
                                    In stock
                                </div>
                                <span class="price">
                                <ins>$259.00</ins>
                                <del>$220.00</del>
                            </span>
                                <div class="single-add-to-cart">
                                    <a href="#" class="btn-add-to-cart">Add to cart</a>
                                    <a href="#" class="compare">
                                        <i class="fas fa-exchange-alt">
                                            Compare
                                        </i>
                                    </a>
                                    <a href="#" class="wishlist">
                                        <i class="far fa-heart">
                                            Wishlist
                                        </i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="products-list">
                        <div class="products-items">
                            <div class="product-img">
                                <img src="../Pictures/p11.jpg" onclick="openPopup()"/>
                                <span class="onsale">-50%</span>
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                    <a href="#">Smartphone 4 GB </a>
                                    <span class="star-ratting">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <span class="review">5 Review(s)</span>
                                </span>
                                    <div class="product-infomation">
                                        14’’ Class 15.6’’ Screen full offer supperior picture LED
                                        <br/>
                                        Display type: Full 1080 Color
                                        <br/>
                                        Chip set: Core i7
                                        <br/>
                                        Color: White
                                    </div>
                                </div>
                            </div>
                            <div class="product-info-price">
                                <div class="stock-available">
                                    <span class="label-stock">Avability:</span>
                                    In stock
                                </div>
                                <span class="price">
                                <ins>$299.00</ins>
                                <del>$259.00</del>
                            </span>
                                <div class="single-add-to-cart">
                                    <a href="#" class="btn-add-to-cart">Add to cart</a>
                                    <a href="#" class="compare">
                                        <i class="fas fa-exchange-alt">
                                            Compare
                                        </i>
                                    </a>
                                    <a href="#" class="wishlist">
                                        <i class="far fa-heart">
                                            Wishlist
                                        </i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="products-list">
                        <div class="products-items">
                            <div class="product-img">
                                <img src="../Pictures/p12.jpg" onclick="openPopup()">
                                <span class="onsale">New</span>
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                    <a href="#">Smartphone 4 GB </a>
                                    <span class="star-ratting">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <span class="review">5 Review(s)</span>
                                </span>
                                    <div class="product-infomation">
                                        14’’ Class 15.6’’ Screen full offer supperior picture LED
                                        <br/>
                                        Display type: Full 1080 Color
                                        <br/>
                                        Chip set: Core i7
                                        <br/>
                                        Color: White
                                    </div>
                                </div>
                            </div>
                            <div class="product-info-price">
                                <div class="stock-available">
                                    <span class="label-stock">Avability:</span>
                                    In stock
                                </div>
                                <span class="price">
                                <ins>$299.00</ins>
                            </span>
                                <div class="single-add-to-cart">
                                    <a href="#" class="btn-add-to-cart">Add to cart</a>
                                    <a href="#" class="compare">
                                        <i class="fas fa-exchange-alt">
                                            Compare
                                        </i>
                                    </a>
                                    <a href="#" class="wishlist">
                                        <i class="far fa-heart">
                                            Wishlist
                                        </i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="products-list">
                        <div class="products-items">
                            <div class="product-img">
                                <img src="../Pictures/p14.jpg" onclick="openPopup()">
                                <span class="onsale">-50%</span>
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                    <a href="#">Smartphone 4 GB </a>
                                    <span class="star-ratting">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <span class="review">5 Review(s)</span>
                                </span>
                                    <div class="product-infomation">
                                        14’’ Class 15.6’’ Screen full offer supperior picture LED
                                        <br/>
                                        Display type: Full 1080 Color
                                        <br/>
                                        Chip set: Core i7
                                        <br/>
                                        Color: White
                                    </div>
                                </div>
                            </div>
                            <div class="product-info-price">
                                <div class="stock-available">
                                    <span class="label-stock">Avability:</span>
                                    In stock
                                </div>
                                <span class="price">
                                <ins>$299.00</ins>
                                <del>$259.00</del>
                            </span>
                                <div class="single-add-to-cart">
                                    <a href="#" class="btn-add-to-cart">Add to cart</a>
                                    <a href="#" class="compare">
                                        <i class="fas fa-exchange-alt">
                                            Compare
                                        </i>
                                    </a>
                                    <a href="#" class="wishlist">
                                        <i class="far fa-heart">
                                            Wishlist
                                        </i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                        <span class="show-resuilt">
                        Showing 1-8 of 12 result
                    </span>
                    </nav>
                </div>

            </article>
            <aside class="sidebar">
                <div class="block subcribe">
                    <div class="filter-options">
                        <div class="block-title">Shop By</div>
                        <div class="block-content">
                            <div class="filter-options-item filter-categori">
                                <div class="filter-options-title">
                                    Categories
                                </div>
                                <div class="filter-options-content">
                                    <ul>
                                        <li>
                                            <label class="inline">
                                                <input type="checkbox">
                                                <span class="input"></span>
                                                SmartPhone
                                            </label>
                                        </li>
                                        <li>
                                            <label class="inline">
                                                <input type="checkbox">
                                                <span class="input"></span>
                                                Computer
                                            </label>
                                        </li>
                                        <li>
                                            <label class="inline">
                                                <input type="checkbox">
                                                <span class="input"></span>
                                                Body Parts
                                            </label>
                                        </li>
                                        <li>
                                            <label class="inline">
                                                <input type="checkbox">
                                                <span class="input"></span>
                                                Printers
                                            </label>
                                        </li>
                                        <li>
                                            <label class="inline">
                                                <input type="checkbox">
                                                <span class="input"></span>
                                                Repair Partss
                                            </label>
                                        </li>
                                        <li>
                                            <label class="inline">
                                                <input type="checkbox">
                                                <span class="input"></span>
                                                Camera
                                            </label>
                                        </li>
                                        <li>
                                            <label class="inline">
                                                <input type="checkbox">
                                                <span class="input"></span>
                                                Monitors
                                            </label>
                                        </li>
                                        <li>
                                            <label class="inline">
                                                <input type="checkbox">
                                                <span class="input"></span>
                                                Office
                                            </label>
                                        </li>
                                        <li>
                                            <label class="inline">
                                                <input type="checkbox">
                                                <span class="input"></span>
                                                Tablets
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="block-content">
                                <div class="filter-options-item filter-categori">
                                    <div class="filter-options-title">
                                        Brand
                                    </div>
                                    <div class="filter-options-content">
                                        <ul>
                                            <li>
                                                <label class="inline">
                                                    <input type="checkbox">
                                                    <span class="input"></span>
                                                    Vinsmart
                                                </label>
                                            </li>
                                            <li>
                                                <label class="inline">
                                                    <input type="checkbox">
                                                    <span class="input"></span>
                                                    Sony
                                                </label>
                                            </li>
                                            <li>
                                                <label class="inline">
                                                    <input type="checkbox">
                                                    <span class="input"></span>
                                                    Oppo
                                                </label>
                                            </li>
                                            <li>
                                                <label class="inline">
                                                    <input type="checkbox">
                                                    <span class="input"></span>
                                                    SamSung
                                                </label>
                                            </li>
                                            <li>
                                                <label class="inline">
                                                    <input type="checkbox">
                                                    <span class="input"></span>
                                                    Apple
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="block-content">
                                        <div class="filter-options-item filter-categori">
                                            <div class="filter-options-title">
                                                Color
                                            </div>
                                            <div class="filter-options-content filter-color">
                                                <ul>
                                                    <li>
                                                        <label class="inline">
                                                            <input type="checkbox">
                                                            <span class="input"></span>
                                                            Red
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label class="inline">
                                                            <input type="checkbox">
                                                            <span class="input"></span>
                                                            Black
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label class="inline">
                                                            <input type="checkbox">
                                                            <span class="input"></span>
                                                            Gray
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label class="inline">
                                                            <input type="checkbox">
                                                            <span class="input"></span>
                                                            White
                                                        </label>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li>
                                                        <label class="inline">
                                                            <input type="checkbox">
                                                            <span class="input"></span>
                                                            Yellow
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label class="inline">
                                                            <input type="checkbox">
                                                            <span class="input"></span>
                                                            Blue
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label class="inline">
                                                            <input type="checkbox">
                                                            <span class="input"></span>
                                                            Pink
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label class="inline">
                                                            <input type="checkbox">
                                                            <span class="input"></span>
                                                            Green
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </aside>
            <div id="bg-fade"></div>
            <div id="popup">
                <div  class="icon-popup text-right" style="font-size: 30px;" onclick="closePopup()" >
                    <i class="fas fa-window-close"></i>
                </div>
                <div class="products-items-popup">
                    <div class="product-img">
                        <a href="#">
                            <img src="../Pictures/p10.jpg"/>
                        </a>
                    </div>
                    <div class="product-popup-inf">
                        <div class="product-name">
                            <a href="#">Smartphone 4GB</a>
                        </div>
                        <span class="star-ratting">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <span class="review">5 Review(s)</span>
                    </span>
                        <div class="product-infomation-popup">
                            Description Our new HPB12 / A12 battery is rated at 2000mAh and designed to power up Black and
                            Decker FireStorm line of 12V tools allowing...
                        </div>
                        <div class="product-price-popup">
                        <span class="price-popup">
                            <ins>299.00$</ins>
                            <del>259.00$</del>
                        </span>
                            <div class="quantity-popup">
                                <h5 class="quantity-title">Quantity</h5>
                                <div class="button-add">
                                    <input type="text" value="1" title="Qty" id="text" class="input-text qty text" size="1">
                                    <a href="#" class="sign plus">
                                        <i class="fas fa-plus" onclick="plus()"></i>
                                    </a>
                                    <a href="#" class="sign minus">
                                        <i class="fas fa-minus" onclick="minus()"></i>
                                    </a>
                                </div>
                                <a href="#" class="btn-add-to-cart">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            function openPopup(){
                document.getElementById("bg-fade").style.display="block";
                document.getElementById("popup").style.display="block";
            }
            function closePopup(){
                document.getElementById("bg-fade").style.display="none";
                document.getElementById("popup").style.display="none";
            }
            function  plus(){
                var t = document.getElementById("text").value;
                document.getElementById("text").value =parseInt(t)+1;
            }
            function minus(){
                var t = document.getElementById("text").value;
                if(parseInt(t)>=1){
                    document.getElementById("text").value = parseInt(t)-1;
                }

            }
        </script>
</section>

</body>
</html>