<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%- include('stylesheet_shoppingcart')%>
</head>
<body>
<div class="menu-l">
    <ul class="container">
        <li class="menu-sub-main">
            <a href="#">
                All Departments
            </a>
        </li>
        <li class="menu-sub">
            <div class="dropdown">
                <button class="dropbtn">
                    Home
                </button>
            </div>
            <div class="dropdown-content">
                <a href="#">Home 1</a>
                <a href="#">Home 2</a>
                <a href="#">Home 3</a>
            </div>
        </li>
        <li class="menu-sub">
            <div class="dropdown">
                <button class="dropbtn">
                    Shop
                </button>
            </div>
            <div  class="dropdown-content">
                <a href="#">List Product</a>
                <a href="#">Grid Product</a>
            </div>
        </li>
        <li class="menu-sub">
            <div class="dropdown">
                <button class="dropbtn">
                    Sub Menu
                </button>
            </div>
            <div  class="dropdown-content">
                <a href="/checkout">Checkout</a>
                <a href="/shoppingcart">Shopping Cart</a>
                <a href="/contactus">Contact Us</a>
                <a href="/login">Login</a>
            </div>
        </li>

        <li class="menu-sub">
            <div class="dropdown">
                <button class="dropbtn">
                    Contact Us
                </button>
            </div>
        </li>
        <li class="menu-sub">
            <div class="dropdown">
                <button class="dropbtn">
                    Blog
                </button>
            </div>
            <div class="dropdown-content">
                <a href="#">Blog List</a>
                <a href="#">Blog Grid</a>
            </div>
        </li>
    </ul>
</div>
</body>
</html>