*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
.img{
    max-width: 100%;
    max-height: 100%;
}
.top-header{
    background-color: #e03737;
    padding: 10px;
}
.content-left{
    padding-top: 5px;
}
.content-left a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: white;
}
.content-right ul li{
    list-style: none;
    float: left;
    padding-right: 15px;
    padding-left: 5px;
    border-right: 2px solid whitesmoke;
}
.register a{
    text-decoration: none;
}
.mid-header{
    padding: 60px 0;
}
.search-box{
    float: left;
    border: 1px solid darkgray;
    border-radius: 5px;
    width: 100%;
}
.categories{
    float: left;
    padding-top: 8px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 600;
    color: gray;
    border-right: 1px solid gray;
    width: 100px;
}
.search-inbox{
    float: left;
    padding-top: 5px;
    padding-left: 20px;
    font-size: 14px;
    font-weight: 600;
    color: gray;
}
.icon-search{
    float: right;
    height: 40px;
    width: 50px;
    background-color: red;
    text-decoration: none;
    text-transform: none;
    padding: 10px 15px;
}
.icon-search i{
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.cart{
    float: left;
    padding-left: 30px;
}
.bottom-header{
    background-color: #e03737 ;
    height: 50px;
}
.navbar-nav{
    list-style: none;
}
.nav-item{
    float: left;
    padding-right: 30px;
    padding-top: 15px;
}
#mydropdown{
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
#mydropdown2{
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
#mydropdown3{
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
#mydropdown4{
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
#mydropdown5{
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
#mydropdown6{
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
#mydropdown7{
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
.dropdown {
    position: relative;
}
.dropdown-menu {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.nav-item a{
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}
#slider{
    width: 100%;
    height: 688px;
}
.three-icon{
    margin-top: 30px;
}
.first-icon{
    padding-right: 30px;
}
.icon-content{
    background-color: #fafafa;
    border-radius: 2px;
    border: 1px solid #666666;
}
.icon-content span i{
    color: #e03737;
    font-size: 30px;
    font-weight: 600;
    padding: 20px 150px;
}
.content-icon-text h1{
    font-size: 18px;
    font-weight: 600;
    padding-left: 90px;
}
.content-icon-text p{
    font-size: 14px;
    padding-left: 80px;
}
.All-Deals{
    margin-top: 100px;
}
.arrow{
    float: right;
}
.arrow i{
    color: black;
    font-size: 25px;
}
.arrow i:hover{
    color: red;
}
.title-deals{
    border-left: 3px solid #e03737;
    padding-left: 10px;
}
.title-deals p{
    font-weight: 800;
    font-size: 20px;
}
.Produce{
    float: left;
    border: 1px solid darkgray;
    height: 250px;
}
.Produce-Image{
    float: left;
}
.Product-Info{
    float: left;
    padding:20px 30px;
    width: 300px;
}
.Product-Info h1{
    font-size: 14px;
    font-weight: 800;
    color: black;
}
.Product-Info p{
    color:#e03737;
    font-weight: 600;
    font-size: 14px;
}
.star{
    float: left;
    color: #f29f29;
}
.count{
    padding-top: 15px;
}
.day span{
    background-color: #e03737;
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 20px;
    color: whitesmoke;
    padding: 9px;
    margin-left: 5px;
}
.day p{
    float: bottom;
}
.count-info{
    float: left;
}
.add-product-father{
    float: left;
    padding-top: 10px;
}
.add-product-children{
    background-color: black;
    width: 150px;
    height: 50px;
    padding: 15px 20px;
}
.add-product-children p{
    color: white;
}
.add-product-father :hover{
    background-color: red;
}
.All-Product{
    padding-top: 50px;
}
.new-product{
    padding-top: 50px;
}
.toy-father{
    padding-left: 20px;
}
.headphone-children{
    position: absolute;

}
.feature-product{
    padding-top: 30px;
}
.title-feature-product {
    float: left;
    border-left: 3px solid #e03737;
    padding: 7px 8px;
}
.title-feature-product p{
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.all-list{
    padding-left: 700px;
}
.tab-list a{
    float: left;
    border-bottom: white;
    color: black;
    font-size: 15px;
    font-weight: 600;
    list-style: none;
}
.all-feature-product{
    position: relative;
    padding-top: 40px;
}
.tab-all-products{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
    opacity: 0;
    transition: opacity 500ms;
}
.tab-all-products.active{
    display: block;
    opacity: 1;
}
.navbar-link.active{
    border-bottom: 3px solid red;
}
.product1-father{
    padding-right: 10px;
}
.product1-children{
    border: 1px solid darkgray;
}
.product1-children:hover{
    border: 1px solid #e03737;
}
.product1-info{
    padding: 0px 10px;
}
.product1-children h1{
    font-size: 14px;
    color: black;
    font-weight: 600;
}
.product1-children p{
    color: red;
    font-size: 14px;
    font-weight: 600;
}
.product1-children i {
    color:#f29f29;
}
.tab-2{
    float: left;
    padding-top: 20px;
}
.top-collection-father{
    padding-top: 100px;
}
.top-collection{
    background-image: url("../imgs/shopnow.PNG");
    background-size: cover;
    position: absolute;
    padding: 30px 100px;
}
.top-collection h1{
    color: red;
    font-size: 14px;
    font-weight: 600;
}
.top-collection p{
    font-size: 30px;
    font-weight: 800;
    color: black;
}
.button-shopnow{
    background-color: #e03737;
    color: white;
    width: 100px;
    margin-left: 680px;
    padding-left: 13px;
}
.button-shopnow:hover{
    background-color: black;
}
